{% extends "Template.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div style="width: 500px; height: auto;">
                <div class="card bg-light mb-3" style="max-width: 30rem;">
                    <div class="card-header text-center"><b>Welcome To OCR World</b></div>
                    <form method="POST" enctype="multipart/form-data">
                        <div class="card-body">
                            <div>
                                {% csrf_token %}
                                <input type="file" id="file-input" accept="image/*,.pdf" name="document">
                            </div>
                            <br>
                            <br>
                            <div>
                                <button class="btn btn-outline-success btn-sm btn-block" type="submit" onclick="location.href='{%url 'UploadFile'%}'" name="Upload">Upload</button>
                            </div>
                            <div>
                                {% if data %}
                                <input type="text" name="imagename" value={{url}} readonly>
                                <img src={{path}} id="target" height="200" width="200">
                                <h5 class="text-success text-uppercase">{{data}}</h5>
                                <button class="btn btn-outline-primary btn-sm btn-block" type="submit" onclick="location.href='{%url 'UploadFile'%}'" name="GetText">GetText</button> {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    Jcrop.attach('target', {
        shadeColor: 'red',
        multi: true
    });
    const stage = Jcrop.attach('target');
    console.log(stage.active.pos);

    function GetPositions() {

        document.getElementById("Height").value = stage.active.pos.h;
        document.getElementById("width").value = stage.active.pos.w;
        document.getElementById("Xposition").value = stage.active.pos.x;
        document.getElementById("yposition").value = stage.active.pos.y;

    }
</script>

{% endblock %}